body {
  background-color: darkgreen;
}

h1 {
  color: navy;
  margin-left: 20px;
}

.txt{
	font-style:italic;
	background-color:#fffff;
	width: 100px;
	height: 100px;
	color: orange;
}

.txt2{
	font-style:bold;
	background-color:#aaaaa;
	width: 75px;
	height: 75px;
	color: red;
}
.link{
	font-style:bold;
	background-color:#12345;
	width: 80px;
	color: lightblue;
}

