
* {
    margin: 0;
    padding: 0;
}

#menu {
    margin-bottom: 50px;
}


#container {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: 100%;
}

#grid {   

    width: fit-content;
    margin: 0 auto;
}

.grid-row {

    display: block;
}

.grid-block {

    border: solid #000;
    border-width: 1px 0 0 1px;
    padding: 30px;
    display: inline-block;
}

.color {
    
    background: rgb(202, 8, 8);
}

.no-color {
    
    background: unset;
}

input[type=submit] {

    cursor: pointer;
    padding: 5px 10px;
}

#calculator {

    width: fit-content;
    margin: 0 auto;
}

#calculator input[type=submit] {

    cursor: pointer;
    padding: 24px;
}